@font-face {
     font-family: bold;
     src: url(../font/NotoSans_Condensed-Bold.ttf);
}
@font-face {
     font-family: medium;
     src: url(../font/NotoSans_SemiCondensed-Medium.ttf);
}
@font-face {
     font-family: bold-ti;
     src: url(../font/NotoSans_ExtraCondensed-SemiBoldItalic.ttf);
}
@font-face {
     font-family: medium-ti;
     src: url(../font/NotoSans-MediumItalic.ttf);
}